@import "tailwindcss";

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Facebook-style scrollbar */
.scrollbar-fb {
  scrollbar-width: none;
  -ms-overflow-style: none;
  background: transparent;
}
.scrollbar-fb::-webkit-scrollbar {
  display: none;
}

/* Show scrollbar on hover */
.scrollbar-fb:hover {
  scrollbar-width: thin;
}
.scrollbar-fb:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}
.scrollbar-fb:hover::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-fb:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}
.scrollbar-fb:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

